*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../9.jpeg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.container{
	color: white;
	position: absolute;
	top: 35%;
	left: 50%;
	padding: 10px;
}
.container h1{
	font-size: 40px;
	margin-bottom: 40px;
	padding: 13px 0;
	border-bottom: 2px solid white;
}
.box{
	width: 100%;
	margin: 32px 0px;
}
.box i{
	width: 25px;
	text-align: center;
	padding: 0 12px ;

}
.box input{
	width: 75%;
	border: none;
	outline: none;
	background: none;
	font-size: 15px;
	text-align: center;
	padding: 5px 0;
	color: white;
}
.btn{
	cursor: pointer;
	outline: none;
	width: 25%;
	margin: 12px 0;
	padding: 6px;
	background: none;
	color: white;
}