*{
	margin: 0;
	padding: 0;
}
body
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../5.jpeg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: whitesmoke;
}
ul{
	float: left;
	list-style-type: none;
	margin: 50px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: unset;
	color: #fff;
	padding: 10px 30px;
	font-size: 20px;
	font-family: sans-serif;
	border-radius: 1px;
	border: 1px solid-transparent;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
	transition: 1.0s ease;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.title{
	position: absolute;
	top: 30%;
	left: 20%;
}
.title h1{
	font-size: 60px;
	font-family: fantasy;
}
.title h3{
	font-family: inherit;
}
.title h2{
	font-size: 20px;
	-webkit-transition: 0.8s ease;
}
.title h2:hover{
	transition: 0.8s ease;
	background-color: #fff;
	color: #000;
	padding: 10px 30px;
}
.button{
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 10px 35px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 50px;
}
.btn:hover{
	background-color: mediumseagreen;
	color: #000;
	transition: 0.8s ease;
	border: 1px solid #000;
}
.social{
	position: absolute;
	left: 70%;
	top: -5px;
	font-size: 10px;
}
.logo{
	color: whitesmoke;
	position: absolute;
	top: 75%;
	left: 28%;
	letter-spacing: 15px;
	font-size: 35px;
	opacity:20%;
	cursor: default;
}
